.button {
  background: var(--secondary-sunny);
  color: var(--gray-0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 8px;
}
