.tab {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-color);

  &:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

  &.active {
    text-decoration: underline;
  }
}
